<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>
<body>
    <h1>File List</h1>
    <ul>
        {{#each files}}
            <li>
                {{this}}
                <a href="/delete?fileName={{this}}">Delete</a>
            </li>
        {{/each}}
    </ul>
    <p><a href="/">Go to Home Page</a></p>
</body>
</html>
